// colors

$color-1: #d1ccb4;
$color-2: #c7c5ac;
$color-3: #aeaa95;
$color-4: #9a9584;
$color-5: #575348;
$color-6: #ffffff;
$color-7: #333333;


// fonts 

$primary-font: 'Roboto', Arial, sans-serif;
$editor-font: 'Roboto Mono', monospace;