// colors, fonts etc...
@import 'partials/variables';
// media queries
@import 'partials/layout';

/* -------------------------------- 

Primary style

-------------------------------- */

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html,
#app {
    /* important */
    height: 100%;
}

body {
    color: $color-5;
    font-size: 100%;
    font-family: $primary-font;
    background-color: $color-4;
    background-image: radial-gradient(51% 96%, #e7e9e4 10%, #d4d6d1 96%), repeating-linear-gradient(-45deg, $color-4, $color-4 2px, transparent 2px, transparent 10px), repeating-linear-gradient( 45deg, $color-4, $color-4 2px, transparent 2px, transparent 10px);
    background-blend-mode: soft-light;
}


/* -------------------------------- 

Main components

Do not use tag selectors on the top level below.
className : blockName_elementName_modifierKey-modifierValue

-------------------------------- */

.container {
    padding: 0.5rem 0.67rem;
    h1 {
        font-size: 2em;
        font-weight: bolder;
        padding: 1rem 0rem;
        text-shadow: 4px 5px 3px rgba($color-5, .6);
    }
}

.control {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 .6rem;
    margin-top: 1rem;
}

.radio {
    display: flex;
    flex-flow: row wrap;
}

.radio_label {
    display: flex;
    align-items: center;
    input[type=radio] {
        position: absolute;
        opacity: 0;
    }
    span {
        display: flex;
        width: 10em;
        margin-right: 1em;
        padding: .5em;
        color: $color-5;
        font-size: 14px;
        font-weight: bolder;
        border-top: 4px double transparent;
        border-bottom: 4px double transparent;
        background-color: rgba($color-4, .6);
        background-size: 200% 100%;
        background-image: linear-gradient(to right, transparent 50%, rgba($color-5, .9) 50%);
        transition: background-position .1s ease, color .1s ease, background-color .2s ease;
        &::before {
            content: "";
            margin-right: .5em;
            width: 1.1em;
            height: 1.1em;
            background-color: $color-5;
        }
        &:hover {
            color: $color-1;
            border-top: 4px double rgba($color-1, .9);
            border-bottom: 4px double rgba($color-1, .9);
            background-position: -100% 0%;
            &::before {
                background-color: $color-1;
            }
        }
        @include MQ(M) {
            border: none;
        }
    }
    input[type=radio]:checked+span,
    input[type=radio]:active+span {
        color: $color-1;
        background-color: rgba($color-5, .9);
        border-top: 4px double transparent;
        border-bottom: 4px double transparent;
        transition: background-position 0s, border 0s;
        &::before {
            background-color: $color-1;
        }
        &:hover {
            /* keep checked style */
            background-position: 0% 0%;
        }
        @include MQ(M) {
            box-shadow: 0px 8px rgba($color-5, .9);
        }
    }
}

.btn {
    color: $color-5;
    font-size: 16px;
    font-weight: bolder;
    padding: .3em 1.2em;
    border: none;
    background-color: $color-1;
    box-shadow: 4px 4px 5px rgba($color-5, .5);
    &:hover {
        color: $color-1;
        background-color: $color-5;
    }
    &:active {
        box-shadow: none;
    }
}

.editor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    padding: .5rem .6rem;
    &>* {
        height: calc(50% - .3rem);
    }
    @include MQ(L) {
        flex-direction: row;
        &>* {
            width: calc(50% - .3rem);
            height: 100%;
        }
    }
}

.editor_textarea {
    font-size: 14px;
    font-family: $editor-font;
    box-sizing: border-box;
    padding: 10px;
    border: none;
    border-right: 1px solid #cccccc;
    background: rgba($color-1, .6);
    box-shadow: 4px 4px 5px rgba($color-5, .5);
    resize: none;
    &:focus::placeholder {
        opacity: 0;
    }
}

.footer {
    color: $color-5;
    margin: 0.5rem auto; 
    padding: 0.5rem 0.67rem;
    text-align: center;
    a {
        color: $color-5;
    }
}